<section>
  <%= @tour.title %>
  <%= @tour.location %>
  <%= @tour.category.name %>
  <%= @tour.guide.name %>
  <%= @tour.guide.phone %>
  <%= @tour.duration %>
  <%= number_to_currency(@tour.amount) %>
  <%= @tour.description %>
  <%= image_tag @tour.picture.url(:thumb) %>
</section>
