<section>
  <%= @tour.title %>
  <%= @tour.location.local %>
  <%= @tour.category.name %>
  <%= @tour.guide %>
  <%= @tour.contact %>
  <%= @tour.duration %>
  <%= number_to_currency(@tour.amount) %>
  <%= @tour.description %>
  <%= image_tag @tour.picture.url(:thumb) %>
</section>
